.car-logo{
    background-color: tomato;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo{
    height: 70px;
    margin-left: 10px;

}
.heading{
    font-size: 40px;
    margin: 20px;
}