.heading{
    color: #ff0000;
    background-color: #b3ff99;
    text-align: center;
    border-radius: 10px;
}

.main-div{
    border: solid 3px black;
    height: 500px;
    width: 700px;
    margin: 50px auto;
    background-color: #ffffb3;
    text-align: center;

}
.img{
    height: 150px;
  border: double #00ff00 5px;
    
}
.text1{
    font-size: 30px;
}